@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id = "debug"></p>
    <canvas id="canvas" width="150" height="150"></canvas>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <svg width="600" height="400" viewBox="-300 -200 600 400" id = "viewbox">

    <g id="hexDisplay">
        
    </g>
    </svg>
    
</div>

@section Scripts {
    <script src="\js\hexagon.js"></script>
}